[submodule "skills-repos/vercel"]
	path = skills-repos/vercel
	url = https://github.com/vercel-labs/agent-skills
	branch = install
	sparse = true
	sparse-checkout = skills/react-best-practices/ skills/react-best-practices/*
[submodule "skills-repos/cloudflare"]
	path = skills-repos/cloudflare
	url = https://github.com/cloudflare/skills
	branch = main
