[submodule "skills-repos/cloudflare"]
	path = skills-repos/cloudflare
	url = https://github.com/cloudflare/skills
	branch = main
	sparse-checkout = " skills/agents-sdk/*"
[submodule "skills-repos/vercel"]
	path = skills-repos/vercel
	url = https://github.com/vercel-labs/agent-skills
